
body {
     height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: "Jua", sans-serif;
  background-color: rgb(231, 251, 230,0.3);


}
.wsd-head{
    height: 5%;
    display: flex;
     justify-content: center;
    font-size: 80px;
      padding: 50px;
}
.wsd-head>a {
  text-decoration: none;
  color: rgb(239, 90, 111);
  text-shadow: 4px 1px rgba(0, 0, 0, 0.8);
}

.wsd-head>a:hover{
  cursor: pointer;
  transition-duration: 0.2s;
  scale: 1.2;
}


.sector {
    
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #2E5077;
    border-radius: 5px;
}

/* กำหนดสีของหัวข้อในแต่ละ sector */
.sector h2 {
    color: rgb(0, 0, 0,0.8);
    font-size: 30px;
}

/* สไตล์ของรายการในแต่ละ sector */
.sector ul {
    display: flex;
    list-style-type: none;
    padding-left: 20px;
}

.sector ul li {
    margin-bottom: 8px;
}

/* สไตล์ของปุ่มในกลุ่ม Information How */
.command-button {
    padding: 15px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    background-color:#2E5077;
    color: white;
    text-decoration: none; /* ไม่มีขีดเส้นใต้จากลิงก์ */
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    
    transition: background-color 0.3s;
}

.command-button:hover {
    background-color: #FF748B;
}
